{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "prettier"
    ],
    "settings": {
        "import/ignore": [
            ".css$"
        ],
        "import/extensions": [
            ".js",
            ".jsx"
        ]
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "jsx-quotes": [
            1,
            "prefer-double"
        ],
        "sort-keys-fix/sort-keys-fix": "warn",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/jsx-sort-props": [
            "warn",
            {
                "callbacksLast": false,
                "shorthandFirst": true,
                "shorthandLast": false,
                "ignoreCase": true,
                "noSortAlphabetically": false,
                "reservedFirst": true
            }
        ],
        "sort-keys": [
            "error",
            "asc",
            {
                "caseSensitive": true,
                "natural": false,
                "minKeys": 2
            }
        ],
        "quotes": 0,
        "no-console": 0,
        "no-debugger": 1,
        "no-var": 1,
        "semi": [
            1,
            "always"
        ],
        "no-trailing-spaces": 0,
        "eol-last": 0,
        "no-unused-vars": 0,
        "no-underscore-dangle": 0,
        "no-alert": 0,
        "no-lone-blocks": 0,
        "react/display-name": [
            1,
            {
                "ignoreTranspilerName": false
            }
        ],
        "react/forbid-prop-types": [
            1,
            {
                "forbid": [
                    "any"
                ]
            }
        ],
        "react/jsx-boolean-value": 1,
        "react/jsx-closing-bracket-location": 0,
        "react/jsx-indent-props": 0,
        "react/jsx-key": 1,
        "react/jsx-max-props-per-line": 0,
        "react/jsx-no-bind": 0,
        "react/jsx-no-duplicate-props": 1,
        "react/jsx-no-literals": 0,
        "react/jsx-no-undef": 1,
        "react/jsx-pascal-case": 1,
        "react/jsx-sort-prop-types": 0,
        "react/no-danger": 1,
        "react/no-did-mount-set-state": 1,
        "react/no-did-update-set-state": 1,
        "react/no-direct-mutation-state": 1,
        "react/no-multi-comp": 0,
        "react/no-set-state": 0,
        "react/no-unknown-property": 1,
        "react/prefer-es6-class": 1,
        "react/prop-types": 1,
        "react/react-in-jsx-scope": 1,
        "react/require-extension": 0,
        "react/self-closing-comp": 1,
        "react/sort-comp": 1,
        "react/no-unescaped-entities": 0,
        "sort-imports-es6-autofix/sort-imports-es6": [
            2,
            {
                "ignoreCase": false,
                "ignoreMemberSort": false,
                "memberSyntaxSortOrder": [
                    "none",
                    "all",
                    "multiple",
                    "single"
                ]
            }
        ],
        "[object Object]": 0
    },
    "plugins": [
        "react",
        "prettier",
        "react-hooks",
        "sort-keys-fix",
        "sort-imports-es6-autofix"
    ],
    "globals": {
        "window": true,
        "location": true,
        "confirm": true,
        "setInterval": true,
        "clearInterval": true,
        "console": true,
        "alert": true,
        "fetch": true,
        "async": true,
        "await": true,
        "document": true,
        "map": true,
        "Promise": true,
        "React": true,
        "Headers": true,
        "Request": true,
        "URL": true,
        "process": true,
        "setTimeout": true,
        "localStorage": true,
        "sessionStorage": true
    },
    "parser": "babel-eslint"
}
